body,html {
 width: 200%;
 height: 200vh;
 margin: 0;
 padding: 0;
  overflow: hidden;
}
 
.anime {
 width: 200vw;
 height: 200vh;
 background-color: #f7f7f7;
 position: relative;
}
 
.anime img {
 display: block;
 width: auto;
 position: absolute;
 top: 50%;
 left: 50%;
  -webkit-transform: translate(-50%,-50%);
 -moz-transform: translate(-50%,-50%);
 -ms-transform: translate(-50%,-50%);
 -o-transform: translate(-50%,-50%);
 transform: translate(-50%,-50%);
}
